* {
    padding:0;
    margin:0;
}
header {
    background-color:rgba(255,255,255,.25);
    box-shadow: 0 8px 32px rgba(31,38,135,.18);
    border: rgba(255,255,255,.18);
    border-radius: 20px;
    height:80px;
    width:100%;
    position:fixed;    
}
h1 {
    color:rgb(255, 255, 255);
    position:absolute;
    left: 240px;
    top:0;
    line-height: 80px;
    background-image: url(logo/logo.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    font-size: 33px;
}
h4{
    position:absolute;
    left: 130px;
    top: 0;
    line-height: 50px;
background-image: url(logo/logo.png);
display: flex;
flex-direction: column;
width: 110px;
height: 50%;

}
header ul {
    position:absolute;
    right: 5vw;
    top:0;
    line-height:80px;
}

header li {
    display:inline;
    margin-right:4vw;    
}
header a {
    color:white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.news {
    background-color: antiquewhite;
    color:rgb(43, 229, 15);
    height:95vh;
    background-image: url("tupian/6d981d3b8485785ec310cb1cf73c0a805636ab85_raw.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 
.news h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:90px;
    margin-top:60px;
} 
.news p {
    color:#ffffff;
    font-size:18px;
    margin:25px 0;
}
.news a {
    color:white;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    background-color:#485652;
    color:white;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;  
}
.shop {
    display:flex;
    justify-content:center ;
    align-items: center;
}
.shop img {
    width:180px;
    height: 180px;
    
}
.shop video{
    display: flex;
width: 200px;
height: 200px;
}


.info {
    width:50%;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-size:40px;
    margin-bottom: 30px;
}
.info p {
    text-align: center;
    line-height: 2em;
}
.product {
    display: flex;
    background-color: #ede9db;
    padding: 50px 80px 80px;
    background-image: url(tupian/13979e17cfbd0d8e78916ee165566904f715d0c7_raw.jpg);
    background-size: cover;
}


.div1{
    display: flex;
background-color: #d4dd95;
width: 200px;
height: 400px;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 20px;
}



.diu1{
    background-image: url(tupian/13979e17cfbd0d8e78916ee165566904f715d0c7_raw.jpg);
    display: flex;
background-color: hsl(120, 49%, 91%);
width: 170px;
height: 320px;
border-radius: 20px;
flex-direction: column;
align-items: center;
justify-content: center;
justify-content: space-between;
padding: 10px 5px 10px;
}

.button{
 background-color: #00ff88;
border-radius: 15px;

}

.diu1 li{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
    color: #e8d2e8;
    text-decoration: none;
    background-color:rgba(255,255,255,.40);
    box-shadow: 0 8px 32px rgba(31,38,135,.40);
    border: rgba(255,255,255,.40);
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
border-radius: 13px;
}


.div2{
    position: absolute;
    right: 90px;
    background-color:rgba(255,255,255,.45);
    box-shadow: 0 8px 32px rgba(31,38,135,.78);
    border: rgba(255,255,255,.98);
width: 1100px;
height: 400px;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 10px 10px;
}

.yema{
display: flex;
align-items: center;
font-size:18px;
    margin: 240px 70px;
    list-style:none;
}

.div2 p{
    color:#ffffff;
    font-size:18px;
    margin:50px 0px 60px 60px;
}


.lang{
    border-radius: 30px;
background-color: #00ff88;
width: 1100px;
height: 200px;
display: flex;
}


.newsletter {
    background-color:#485652;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p {
    margin-bottom: 20px;
}
.newsletter input, .newsletter button {
    background-color: transparent;
    color:white;
    border: 1px solid #949d9a; 
    padding: 10px; 
    border-radius: 5px;;
}
.newsletter input {
    width:200px;
    margin-right: 15px;;
}
.newsletter button {
    width:80px;
    cursor:pointer;
}
input::placeholder {
    color:#DDDDDD;
}
input:focus {
    outline: none; 
    border-color:#E0E9A3; 
}
footer {
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.menu {
    display:none;
}

@media screen and (max-width: 768px) {
header ul {
    display:none;
}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
.news h2 {
    font-size:40px;
}
.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
.shop {
    flex-direction: column;
}
.shop img {
    padding: 50px;
    width:30%;
}
.info {
    width:100%;
    padding:40px 0;
}
.info h2 {
    font-size:30px;
}
.product {
    flex-direction: column;
    padding: 60px 0;
}
.product div {
    margin-bottom: 30px;
}
}